<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduko Amaierako Lana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/home.css">
    <script src="/js/menu.js"></script>
    
    <style>
        .header::before {
            background-image: url("Irudiak/aboutUs_fondo.jpg");
        }
    </style>
</head>
<body>

    <!-- Botón para abrir el menú lateral -->
    <nav id="navbar" class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-start">
            <!-- Botón para abrir el panel lateral -->
            <button class="bg-dark border-0 me-2 d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="bi bi-list text-white"></i>
            </button>
    
            <!-- Logo y título -->
            <div class="d-flex align-items-center">
                <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="UPV/EHU Logo" style="height: 30px;" class="me-2">
                <span class="text-white">Informatika Fakultatea</span>
            </div>
        </div>
    </nav>
    <script src="/js/scroll-menu.js"></script>

    <!-- Offcanvas Sidebar -->
    <div id="menu"></div>


    <div class="header bg-dark bg-opacity-50" id="intro">
        <h1 class="persistent-text mb-4 text-white">About Us</h1>
    </div>

    <div class="azalpena">
        <div class="container align-items-center">
          <div class="row align-items-center justify-content-center row-cols-lg-2">
              <div class="col-lg-5 border-divider">
                        <div class="container mt-4">
                            <div class="d-flex flex-column align-items-center">
                                <div class="">     
                                        <p class=" text-center"> 
                                            UPV/EHU, eta bereziki Ingenieritza Informatikoko edo Adimen Arrifizialeko graduko ikasleei Gradu Amaierako Lanaren inguruko informazioaren laguntza eskaitzea du helburu proiektu honek. Horretarako, EHU-ko informazio iturrietatik hornitu gara.
                                        </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
    <h2>EGILEAK</h2>
    <br>
    <div>
        UPV/EHU, eta bereziki Ingenieritza Informatikoko edo Adimen Arrifizialeko graduko ikasleei Gradu Amaierako Lanaren inguruko informazioaren laguntza eskaitzea du helburu proiektu honek. Horretarako, EHU-ko informazio iturrietatik hornitu gara.
    </div>
    <li>
        Braian Porta, bporta001@ikasle.ehu.eus 
    </li>
    <li>
        Martín Etxeberria, metxeberria045@ikasle.ehu.eus

    </li>
    <li>
        Beñat Zubizarreta, bzubizarreta001@ikasle.ehu.eus
    </li>
    <br>
    <div style="color: red;">
    <h2 style=" text-align: center">**ADI!!**</h2>
    <p style="text-align: center; padding-bottom: 10px; padding-top: 10px">
        Proiektu honek ez du EHU-ko oinarrizko informazio iturriak ordezkatzeko intentziorik, ikasleak laguntzeko garatu den eskola ariketa bat da soilik. Beraz, ez du irakurleei GrAL-aren inguruko araudi ofizialak ordezkatzeko intentziorik! 
    </p>
    <h2 style=" text-align: center; padding-bottom: 25px">**ADI!!**</h2>
    </div>
    </div>

    <!-- Buttons -->
    <script src="/js/buttons.js"></script>
    <!-- Footer -->
    <script src="/js/footer.js"></script>
    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>