<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduko Amaierako Lana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/home.css">

    <style>
        .header::before {
            background-image: url("Irudiak/aulas_alava_web.jpg");
        }
    </style>

</head>
<body>
    <!-- Botón para abrir el menú lateral -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex align-items-center justify-content-start">
            <!-- Botón para abrir el panel lateral -->
            <button class="bg-dark border-0 me-2 d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="bi bi-list text-white"></i>
            </button>
    
            <!-- Logo y título -->
            <div class="d-flex align-items-center">
                <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="UPV/EHU Logo" style="height: 30px;" class="me-2">
                <span class="text-white">Informatika Fakultatea</span>
            </div>
        </div>
    </nav>
    

    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Menú</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/home" class="text-decoration-none">Home</a>
                </li>
                
                <!-- Dropdown Submenu -->
                <li class="list-group-item">
                    <button class="btn btn-link text-decoration-none p-0" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false" aria-controls="submenu1">
                        <i class="bi bi-chevron-down" style="font-size: 12px;"></i> Graduaren Amaierako Lana
                    </button>
                    <div class="collapse" id="submenu1">
                        <ul class="list-group ms-3 mt-2">
                            <li class="list-group-item">
                                <button style="color: rgb(5, 166, 235)" href="#" class="btn btn-link text-decoration-none p-0" data-bs-toggle="collapse" data-bs-target="#submenu2" aria-expanded="false" aria-controls="submenu1">
                                    <i class="bi bi-chevron-down" style="font-size: 12px;"></i> Arauak
                                </button>
                                <div class="collapse" id="submenu2">
                                    <ul class="list-group ms-3 mt-2">
                                        <li class="list-group-item">
                                            <a href="/arauak_UPV_EHU" class="text-decoration-none">UPV/EHU-ko Araudiak</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/arauak_fakultatea" class="text-decoration-none">Informatika Fakultateko Araudiak</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <a href="/memoriak" class="text-decoration-none">Memoria</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/egutegia" class="text-decoration-none">Egutegia</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/autoebaluazioa" class="text-decoration-none">Autoebaluazioa</a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="list-group-item">
                    <a href="/bibliografia" class="text-decoration-none">Bibliografia</a>
                </li>
                <li class="list-group-item">
                    <a href="/about-us" class="text-decoration-none">About Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header bg-dark bg-opacity-50" id="intro">
        <h1 class="persistent-text mb-4 text-white">Gradu Amaierako Lanaren <br> Araudiak</h1>
    </div>



    <div class="azalpena">
        <div class="container mt-4">
            <div class="d-flex flex-column align-items-center">
                <div class="col-12 col-md-6 mx-auto">     
                        <p class="align-items-center text-center"> 
                            Hemen Gradu Amaierako Lanari buruzko araudia aurkituko duzu, bai 
                            araudi orokorra eta baita Informatika Fakultatera bideratutakoa ere. 
                            Dokumentu ofizialak ere begira ditzazkezu. 
                        </p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="edukia container align-items-center">
        <div class="row align-items-center justify-content-center row-cols-1 row-cols-lg-2">
            <div class="col-lg-5 ehuBtn">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="\Irudiak\aulas_alava_web.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="Informatika logo" style="height: 32px;" class="me-2">
                    UPV/EHU-ko Araudiak
                </div>
            </div>

            <div class="col-lg-5 infoBtn">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="Irudiak/Facultad nevada.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="\Irudiak\file.png" alt="UPV/EHU Logo" style="height: 40px;" class="me-2">
                    Informatika Fakultateko Araudiak
                </div>
            </div>
        </div>
    </div>


    <!-- Buttons -->
    <script src="/js/buttons_araudiak.js"></script>

    <!-- Footer -->
    <script src="/js/footer.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
