<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduko Amaierako Lana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/home.css">
    <script src="/js/menu.js"></script>
    

    <style>
        .header::before {
            background-image: url("/Irudiak/Facultad\ nevada.jpg");
        }

        #navbar {
            transition: transform 0.5s ease-in-out; /* Suavidad de 0.5 segundos */
        }
    </style>

</head>
<body>

    <!-- Botón para abrir el menú lateral -->
    <nav id="navbar" class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-start">
            <!-- Botón para abrir el panel lateral -->
            <button class="bg-dark border-0 me-2 d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="bi bi-list text-white"></i>
            </button>
    
            <!-- Logo y título -->
            <div class="d-flex align-items-center">
                <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="UPV/EHU Logo" style="height: 30px;" class="me-2">
                <span class="text-white">Informatika Fakultatea</span>
            </div>
        </div>
    </nav>
    <script src="/js/scroll-menu.js"></script>
    

    <!-- Offcanvas Sidebar -->
    <div id="menu"></div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Wait for the menu to be inserted
            setTimeout(() => {
                updateActiveLink('arauak-fakultatea');
            }, 0);
        });
    </script>


    <div class="header bg-dark bg-opacity-50" id="intro">
        <h1 class="persistent-text mb-4 text-white"> Informatika Fakultateko <br> Gradu Amaierako Lana-ren <br> Arautegia</h1>
    </div>

    <div class="azalpena">
        <div class="container mt-4">
            <div class="d-flex flex-column align-items-center">
                <div class="col-12 col-lg-6 mx-auto">   
                        <p class="align-items-center text-center"> 
                            UPV/EHU-ko Gradu Amaierako Lanaren inguruko <strong>Ingeniaritza Informatikako Fakultateko araudi orokorraren </strong> laburpen bat ikus dezakezu hemen. 
                            Informazio ofiziala irakurri nahi izanez gero, <a href="/bibliografia">bibliografia</a>  atala bisitatzea gomendatzen dizugu.
                        </p>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Content Sections -->
    <div class="container mt-4 edukia">
        <h2>Sarrera</h2>
        <p>
            Bai Adimen Artifizialeko bai Informatikaren Ingeniaritzako graduek UPV/EHU-ko arautegi orokorra jarraitzen dute. Beraz, arauen gehiengoak jadanik azaldutakoak dira; eta proiektuaren helburua bera da: graduan lortutako gaitasunak sendotzea eta gaitasun horiek praktikan aplikatzeko trebetasunak garatzea. Hau gauzatu ahal izateko, ikasleak proiektuaren plangintza eta kudeaketa zuzen bat burutu beharko du; sortzen diren arazoak modu autonomo batean konpondu beharko ditu; egindako lana zehatz mehatz azaltzen duen memoria bat garatuko du; eta amaierako lana defendatuko du.
        </p>
        <p class="last-p">
            Bestalde, gogoratu fakultateko bi  graduetan, derrigorrezkoa dela Gradu Amaierako Lana izena duen “irakasgaia” gauzatzea eta 12 honek kredituko lan-karga du.        
        </p>

        <div class="content">
            <!-- Botón para mostrar/ocultar -->
            <button class="btn btn-white w-100 mb-3 d-flex justify-content-between align-items-center" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#gral1" 
                aria-expanded="false" 
                aria-controls="gral1">
                    <h4>GrAL motak</h4>
                    <i class="bi bi-chevron-down"></i>
            </button>
            <!-- Contenido oculto -->
            <div class="collapse" id="gral1">
                <div class="p-3"> 
                    <p>
                        Hiru lan-mota bereizten dira: adostutakoak, eskainitakoak eta kanpo-erakundeetan egindakoak. 
                        Lehenengoetan, ikasleek eta irakasleek zuzenean jarri ahal izango dute harremanetan, beren intereseko gai 
                        espezifiko bati buruzko lan bat definituz, eta irakasleak bere gain hartuko du lanaren zuzendaritza. 
                        Kanpoko lanetan, praktiketan burututako enpresakoak eta Erasmus/Seneca programetakoa, UPV/EHU-k ezarritako 
                        araudien arabera garatuko dira. Gainerako kasuetan, ikasleek sailek eskainitako lanen artean bat aukeratu ahal 
                        izango dute. 
                    </p>

                    <p>
                        Horretarako, Fakultatean irakasten duten sailek espezialitateen araberako lanen eskaintza egingo dute urtero, 
                        Ikastegiak espezialitate bakoitzean sail bakoitzari esleitutako kredituen arabera, eta horretarako baldintzak 
                        betetzen dituzten ikasle guztiek, Gradu Amaierako Lana egin ahal izango dutela bermatzeko adinakoa.
                    </p>
                    <p>
                        Ingeniaritza Informatikoaren graduaren kasuan garatu ahal izango diren lanak 3. mailan hautatutako espezialitatearen 
                        araberakoak dira; hau da, inskribatutako espezialitatearen araberakoa izango da lana. Bestalde, kasu berdin honetan, 
                        lana ebaluatzeko epaimahiaren arduradun diren irakasleak parte diren espezializatearen araberakoak dira. Gogoratu ondorengo 
                        espezialitateak daudela eskuragarri graduaren zehar:
                        <ul>
                            <li>Konputagailuen ingeniaritza.</li>
                            <li>Konputazioa.</li>
                            <li>Softwarearen ingeniaritza.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="content">
            <!-- Botón para mostrar/ocultar -->
            <button class="btn btn-white w-100 mb-3 d-flex justify-content-between align-items-center" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#gral2" 
                aria-expanded="false" 
                aria-controls="gral2">
                    <h4>Lanaren aurkezpena eta defentsa</h4>
                    <i class="bi bi-chevron-down"></i>
            </button>
            <!-- Contenido oculto -->
            <div class="collapse" id="gral2">
                <div class="p-3"> <!-- Eliminamos la clase "card card-body" -->
                    <p>
                        Ikasleak, matrikulatuta egonik, lanaren memoria entregatu beharko du ADDI plataforman. 
                        Memoriaren formatua librea izango da, baina azalak Fakultatearen formatu estandarra jarraitu beharko du, 
                        eta 60 orrialde inguruko luzera izatea gomendatzen da.  
                    </p>
                    <p>
                        Egindako lanaren ikusgaitasuna hobetze aldera, ikasleak egindako lana poster batean laburtzea gomendatzen da. 
                        Poster hori Fakultateko hallean jarriko da ikusgai.
                    </p>
                    <p>
                        Gradu Amaierako Lanaren defentsa publikoa izango da eta ikasleak egingo du Deialdia egin zaion egun, ordu eta 
                        Fakultateko lekuan. Informazio hori gutxienez hiru egun lehenago argitaratuko da.
                    </p>
                    <p>
                        Ikasle bakoitzak 20 minutuko denbora gomendatua izango du (inoiz ez ordu erdi baino gehiago) defentsarako eta 
                        beharrezkoa izanez gero, egindako lana erakusteko. Defentsan, ikasleak bere lanaren helburuak, metodologia, 
                        edukia eta ondorioak azaldu beharko ditu. Ondoren, epaimahaikideek egin ditzaketen galderei, argibideei, iruzkinei 
                        eta iradokizunei erantzungo die. Defentsa euskaraz, gaztelaniaz edo ingelesez egin ahal izango da 
                        (memoria idatzitako hizkuntza berean). 
                    </p>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- Botón para mostrar/ocultar -->
            <button class="btn btn-white w-100 mb-3 d-flex justify-content-between align-items-center" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#gral3" 
                aria-expanded="false" 
                aria-controls="gral3">
                    <h4>GrALaren izen ematea</h4>
                    <i class="bi bi-chevron-down"></i>
            </button>
            <!-- Contenido oculto -->
            <div class="collapse" id="gral3">
                <div class="p-3"> <!-- Eliminamos la clase "card card-body" -->
                    <p>
                        Lanaren izen ematea graduaren 168 kreditu (adarreko oinarrizko 60 eta nahitaezko 108) gainditu ondoren egin ahal 
                        izango da. Izena emateko GAUR aplikazioan egin behar da. 
                    </p>
                    <p>
                        Ikasleak GrAL aukeratzeko bi bide nagusi ditu:
                        <ol>
                            <li>
                                Lana zein gairen inguruan izango den badaki eta hori aurrera eramaten lagunduko dion zuzendaria topatuko du 
                                (adostutako lana esaten zaio). Berari bururatutako lana zein enpresa batek proposatutakoa izan daiteke.
                            </li>
                            <li>
                                Ez du argi ikusten zein gairen inguruan egingo duen lana eta eskaintza publikora jo dezake. 
                                Eskaintza publikoa GAURen argitaratzen da eta hilero eguneratu. Eskaintza publikoko GrALa aukeratzeko, 
                                ikasleak GrALa eskaintzen duenarekin harremanetan jarri beharko du: <br>
                                Eskaintza fakultatekoa bertakoa bada, GrALaren zuzendariarekin.
                                Kanpoko erakunde batek eskaintzen badu, erakundeko harremanetarako kontaktuarekin.

                            </li>
                        </ol>
                    </p>
                    <p>
                        Ikasleak GrALa eskaintzen duenarekin lana berak egingo duela adosten duenean, mezu bat bidaliko du 
                        dif.gral@ehu.eus helbidera horren berri emanez. Mezu hori bidali arte ikasleari ez zaio GrALa esleituko eta 
                        behin GrALa ikasleari esleituta GrALa burutzeko konpromisoa hartzen du.
                    </p>
                    <p>
                        Kanpoko erakunde batean egiten diren lanetarako, erakundea, ikaslea eta fakultatearen arteko hitzarmen bat 
                        sinatu behar da derrigorrez. Hitzarmen hori behin GrALa esleituta dagoenean bidaliko zaio ikasleari. 
                        Enpresako tutoreaz gain fakultateko zuzendaria izango du lanak.
                    </p>
                </div>
            </div>
        </div>
    </div>


    
    <!-- Footer -->
    <script src="/js/footer.js"></script>
    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
