<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduko Amaierako Lana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/home.css">
    <script src="/js/menu.js"></script>

</head>
<body>

    <!-- Botón para abrir el menú lateral -->
    <nav id="navbar" class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-start">
            <!-- Botón para abrir el panel lateral -->
            <button class="bg-dark border-0 me-2 d-flex align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="bi bi-list text-white"></i>
            </button>
    
            <!-- Logo y título -->
            <div class="d-flex align-items-center">
                <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="UPV/EHU Logo" style="height: 30px;" class="me-2">
                <span class="text-white">Informatika Fakultatea</span>
            </div>
        </div>
    </nav>
    <script src="/js/scroll-menu.js"></script>

    <!-- Offcanvas Sidebar -->
    <div id="menu"></div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Wait for the menu to be inserted
            setTimeout(() => {
                updateActiveLink('home');
            }, 0);
        });
    </script>


    <div class="header bg-dark bg-opacity-50" id="intro">
        <h1 class="persistent-text mb-4 text-white">Informatikako Fakultatea <br> Gradu Amaierako Lana <br> </h1>
    </div>

    <div class="azalpena">
        <div class="container mt-4">
            <div class="d-flex flex-column align-items-center">
                <div class="col-12 col-lg-6 mx-auto">   
                    <h3  class="align-items-center">Zer da GrAL-a?</h3> 
                      <p>
                        Gradu Amaierako Lana (GrAL) banaka egin beharreko proiektu, memoria edo azterlan bat da, graduan jaso dituzun eduki, gaitasun, ahalmen eta trebetasunak sakondu eta garatzeko. Ikasketa-planaren amaieran burutzen dira kredituok.
                      </p>
                      <h3  class="align-items-center">Webgunearen helburua.</h3> 
                      <p>
                        Webgune honetan Gradu Amaierako Lanari buruz jakin beharreko guztia aurkituko duzu, araudia, egutegia, baita aurreko urteko GrAL-en hainbat memoria ere.
                      </p> 
                </div>
            </div>
        </div>
    </div>



    <div class="edukia container-fluid align-items-center">
        <div class="row align-items-center justify-content-center row-cols-1 row-cols-lg-4 gap-2">
            <div class="col-lg-5 arautegiak mb-3">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="\Irudiak\aulas_alava_web.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/ios-filled/50/FFFFFF/scales.png" alt="Rules Icon" class="me-3" style="height: 35px;">
                    Arautegiaren Laburpena
                </div>
            </div>
    
            <div class="col-lg-5 egutegia mb-3">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="/Irudiak/egutegia.jpeg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/ios-filled/50/FFFFFF/calendar.png" alt="Calendar Icon" class="me-3" style="height: 35px;">
                    Egutegia (data garrantzitsuak)
                </div>
            </div>
    
            <div class="col-lg-5 memoriak mb-3">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="/Irudiak/UPV_EHU_araudiak.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/ios-filled/50/FFFFFF/contract.png" alt="Memory Icon" class="me-3" style="height: 35px;">
                    Aurreko urtetako GraL-en Memoria
                </div>
            </div>
    
            <div class="col-lg-5 autoebaluazioa mb-3">
                <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                    <img src="\Irudiak\autoebaluazioa.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                    <img src="https://img.icons8.com/ios-filled/50/FFFFFF/checked.png" alt="Self-Evaluation Icon" class="me-3" style="height: 35px;">
                    Autoebaluazio Galdetegia
                </div>
            </div>
        </div>
    </div>
    



    <!-- Buttons -->
    <script src="/js/buttons.js"></script>
    <!-- Footer -->
    <script src="/js/footer.js"></script>
    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
