<!DOCTYPE html>
<html lang="eu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informatika Fakultatea</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/menu.css">
  <link rel="stylesheet" href="styles/intro.css">
  <script src="/js/menu.js"></script>
</head>
<body>
      <!-- Botón para abrir el menú lateral -->
    <div class="menu-container unvisible" style="background-color: rgb(33, 37, 41);"></div>
    

    <!-- Offcanvas Sidebar -->
     <div id="menu"></div>

  <!-- Sección de introducción -->
  <div class="intro-section bg-dark bg-opacity-50" id="intro">
    <div class="container intro-text">
      <div class="d-flex flex-column align-items-center">
        <img src="Irudiak/Bilingüe_negativo_alta-removebg-preview.png" alt="UPV/EHU Logo" class="logo">
        <h1 class="mb-4">UPV / EHU</h1>
      </div>
    </div>
    <h1 class="persistent-text mb-4">Informatikako Fakultatea <br> Gradu Amaierako Lana <br> </h1>
    <p class="description border border-white p-2 text-white fw-bold">
        Egileak: Informatikaren Ingeniaritzako fakultateko<br>PKE irakasgaiko ikasleak
      </p>
    <i class="bi bi-chevron-down chevron-down text-white" id="bi"></i>
  </div>

  <div class="azalpena">
    <div class="container mt-4">
        <div class="d-flex flex-column align-items-center">
            <div class="col-12 col-lg-8 mx-auto">   
              <h3  class="align-items-center">Webgunearen helburua.</h3> 
                <p>
                  <strong>Gradu Amaierako Lana (GrAL)</strong> banaka egin beharreko proiektu, memoria edo azterlan bat da, graduan jaso dituzun eduki, gaitasun, ahalmen eta trebetasunak sakondu eta garatzeko. Ikasketa-planaren amaieran burutzen dira kredituok.
                </p>
                <p>
                  <strong>Webgune honetan</strong> Gradu Amaierako Lanaren inguruko informazioa aurkitu dezakezu, araudia, egutegia, baita aurreko urteko GrAL-en hainbat memoria ere.
                </p> 
          </div>
        </div>
    </div>
  </div>

<!-- Modal Disclaimer -->
<div class="modal fade" id="disclaimerModal" tabindex="-1" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center"> <!-- Cambiado a justify-content-center -->
        <h5 class="modal-title text-danger" id="disclaimerModalLabel" style="color: red;">⚠️DISCLAIMER⚠️</h5>
      </div>
      <div class="modal-body">
        <p>
          Webgune hau <strong>EZ DA UPV/EHU-k edo Informatika Fakultateak garatutako 
          webgune ofiziala</strong>. Ikaskideok PKE (Pertsonen eta Konputagailuen Elkarrizketa) 
          irakasgaian garatutako proiektu bat da, eta, ondorioz, <strong>akatsak eduki ditzake</strong> .
        </p>
        <p>
          Gradu Amaierako Lanaren inguruko legedia eta araudiaren <strong>informazioa ofiziala eskuratzeko</strong>, 
          <strong>iturri ofizialak kontsultatzea gomendatzen zaie erabiltzaileei</strong>.
        </p>
        <p>   
          Webgune honetan ageri diren argazkiak, logotipoak eta dokumentuak Euskal 
          Herriko Unibertsitatearenak dira.
        </p>
        <div class="form-check d-flex justify-content-center">
          <input type="checkbox" class="form-check-input" id="disclaimerCheckbox">
          <label class="form-check-label ms-2" for="disclaimerCheckbox">Oharra irakurri dut</label>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" id="acceptButton" class="btn btn-primary" data-bs-dismiss="modal" disabled>Onartu</button>
      </div>
    </div>
  </div>
</div>

  
  
  


  <div class="edukia container-fluid align-items-center">
    <div class="row align-items-center justify-content-center row-cols-1 row-cols-lg-4 gap-2">
        <div class="col-lg-5 arautegiak mb-3">
            <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                <img src="\Irudiak\aulas_alava_web.jpg" class="img-thumbnail" alt="...">
            </div>
            <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                <img src="https://img.icons8.com/ios-filled/50/FFFFFF/scales.png" alt="Rules Icon" class="me-3" style="height: 35px;">
                Arautegiaren Laburpena
            </div>
        </div>

        <div class="col-lg-5 egutegia mb-3">
            <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                <img src="/Irudiak/egutegia.jpeg" class="img-thumbnail" alt="...">
            </div>
            <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                <img src="https://img.icons8.com/ios-filled/50/FFFFFF/calendar.png" alt="Calendar Icon" class="me-3" style="height: 35px;">
                Egutegia (data garrantzitsuak)
            </div>
        </div>

        <div class="col-lg-5 memoriak mb-3">
            <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                <img src="/Irudiak/UPV_EHU_araudiak.jpg" class="img-thumbnail" alt="...">
            </div>
            <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                <img src="https://img.icons8.com/ios-filled/50/FFFFFF/contract.png" alt="Memory Icon" class="me-3" style="height: 35px;">
                Aurreko urtetako GraL-en Memoria
            </div>
        </div>

        <div class="col-lg-5 autoebaluazioa mb-3">
            <div class="img-container mb-3 d-flex align-items-center justify-content-center">
                <img src="\Irudiak\autoebaluazioa.jpg" class="img-thumbnail" alt="...">
            </div>
            <div class="btn btn-secondary mb-3 d-flex align-items-center justify-content-center">
                <img src="https://img.icons8.com/ios-filled/50/FFFFFF/checked.png" alt="Self-Evaluation Icon" class="me-3" style="height: 35px;">
                Autoebaluazio Galdetegia
            </div>
        </div>
    </div>
</div>



  <!-- Buttons -->
   <script src="/js/buttons.js"></script>
  <!-- Footer -->
  <script src="/js/footer.js"></script>

  <script src="js/introduction.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
