
.disclaimer{
    color: red;
    font-weight: bold;
}

.list-group-item {
    background-color: #000;
    border: none;
}
.list-group-item button {
    color: #fff;
}
.list-group-item button:hover {
    color: #00aaff; /* Color al pasar el ratón */
}

p {
    text-indent: 1.5em; /* Ajusta el tamaño de la sangría */
    margin-top: 0;      /* Opcional: ajusta los márgenes */
    margin-bottom: 1em; /* Opcional: espacio entre párrafos */
}

.last-p{
    margin-bottom: 50px;
}
.last-d{
    margin-bottom: 100px;
}

.header {
    position: relative;
    height: 50vh;
    background-size: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-color: black;
  }


  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Irudiak/fakultatea.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  /* Oscurecer la imagen */
  .header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Más oscuro */
    z-index: -1;
  }


.edukia .img-container {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0 0 1rem 0; 
    border-radius: 0.375rem 0.375rem 0 0;
    overflow: hidden;
}

.edukia .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    display: block;
}
.azalpena {
    padding: 40px;
    background-color: lightgray;
    font-size: large;
}

footer{
    width: 100%;
}
footer p{
    text-indent:0; 
    margin-top: 10px;
    margin-bottom: 20px;
}
a {
    color: #00aaff;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color: #0088cc; 
    text-decoration: underline; 
}

strong {
    font-weight: bold;
}

.btn-white {
    background-color: #fff;
    border: none;                /* Elimina todos los bordes */
    border-bottom: 2px solid #ccc; /* Solo deja un borde inferior */
    color: #000;                /* Color del texto */
    border-radius: 0;           /* Asegura que los bordes no sean redondeados */
    box-shadow: none;           /* Elimina sombras adicionales */
}



/* Línea horizontal para pantallas pequeñas (una columna por fila) */
@media (max-width: 992px) {
    .border-divider::after {
        width: 100%; /* Línea horizontal */
        height: 1px;
        top: auto;
        bottom: 0;
        left: 0;
    }
}

/* Aumentar separación entre columnas horizontalmente */
.col {
    margin-right: 1rem; /* Espacio a la derecha */
}

/* Eliminar margen derecho de la última columna en una fila */
.col:last-child {
    margin-right: 0;
}

/* Separación vertical en pantallas pequeñas */
@media (max-width: 992px) {
    .col {
        margin-right: 0; /* Elimina margen horizontal */
        margin-bottom: 3rem; /* Espacio entre filas */
    }
}

.edukia {
    padding: 40px;
}


.content {
    margin-bottom: 40px;
}

li {
    margin-bottom: 1em;
    margin-left: 25px;
}