.menu-btn {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    color: #343a40;
    border: none;
    text-align: left;
    padding: 10px 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.menu-btn img {
    margin-right: 15px;
    width: 40px;
}
.offcanvas {
    background-color: #212529; /* bg-dark en Hex */
    color: #fff; /* Texto blanco para el menú */
}
.offcanvas a {
    color: #fff; /* Enlaces en blanco */
}
.offcanvas a:hover {
    color: #00aaff; /* Color diferente al hacer hover en los enlaces */
}
.offcanvas-header {
    background-color: #212529; /* bg-dark en Hex */
    color: #fff;
}

button.bg-dark {
    transition: transform 0.2s ease, color 0.2s ease;
}

/* Efecto de agrandamiento de las líneas al pasar el mouse */
button.bg-dark:hover i {
    transform: scale(1.5); /* Agranda las líneas del ícono */
    color: #f8f9fa; /* Opcional: Cambiar el color */
    transition: transform 0.3s ease, color 0.3s ease;
}
i {
    font-size: 1.6em;
    margin-right: 20px;
}


/* Cambiar el fondo de todos los list-group-item */
.offcanvas .list-group-item {
    background-color: #212529; /* bg-dark en Hex */
    color: #fff; /* Texto blanco */
    border: none; /* Eliminar el borde */
}


/* Si deseas cambiar los fondos de los submenús */
.offcanvas .collapse .list-group-item {
    background-color: #212529; /* bg-dark en Hex */

}

.offcanvas-header {
    background-color: #343a40;
}

#navbar {
    transition: transform 0.5s ease-in-out; /* Suavidad de 0.5 segundos */
}
