.disclaimer {
    padding: 10px;
    background-color: lightgray;
}
.disclaimer h3 {
    color: red;
    font-weight: bold;
}
.list-group-item {
    background-color: #000;
    border: none;
}
.list-group-item button {
    color: #fff;
}
.list-group-item button:hover {
    color: #00aaff; /* Color al pasar el ratón */
}


.header {
    position: relative;
    height: 35vh;
    background-size: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-color: black;
  }


  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Irudiak/fakultatea.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  /* Oscurecer la imagen */
  .header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Más oscuro */
    z-index: -1;
  }

.img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 40px;
}
.azalpena {
    padding: 10px;
    background-color: lightgray;
}

footer{
    width: 100%;
}
a {
    color: #00aaff;
    text-decoration: none;
}